body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225,227,230,255);
}

.contenedorgeneral {
    width: 750px;
    height: 400px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row-reverse;
}

.bienvenidoregistro{
    width: 350px;
    width: 50%;
    background-color: rgba(113,149,233,255);
    border-radius: 110px 20px 20px 110px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.titulo h2 {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.notenescuenta a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

.registrar button{
    width: 130px;
    height: 40px;
    margin-top: 15px;

}

.registrar button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
 
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.registrar button:hover {
    background-color: white;
    color: #6C8EFF;
}

.contenidoregistro{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.contenidoregistro h2{
    margin-bottom: 30px;
    font-size: 34px;
}

.contenidoregistro input {
    width: 80%;
    height: 40px;
    padding: 10px;
    margin-bottom: 15px; /* Más espacio entre inputs */
    border: 1px solid #ccc;
    border-radius: 35px;
    background-color: #ccc;
}

.contenidoregistro button{
    width: 80%;
    height: 45px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: #6C8EFF;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.contenidoregistro button:hover{
    background: #3c5fd1 !important;
}

input:focus {/*Esto le cambia el color al borde al hacerle click al input*/
  outline: none;
  border-color: #3c5fd1 ; /* O cualquier otro color deseado */
  /* Puedes agregar otros estilos al estado focus, como sombra, etc. */
  box-shadow: 0 0 10px #3c5fd1 ;

}